html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  .container{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #000000;
  }

body{
    background-color: rgb(239, 227, 227);
    
    
}
#my_name_header_div{
    
    margin-top: 70px;
    
    color: rgb(255, 255, 255);
    background-color: rgb(8, 82, 8);
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 70px;
}
a{
   width: 10px;
   color: aliceblue;
   background-color: darkcyan;
   border: 2px;
   border-radius: 6px;
   padding: 10px;
   text-decoration: none;
   margin: 6px;
}
a:hover{
    background-color: blue;
    font-size: 30px;
}
nav{
    text-align: center;
    margin-top: 30px;
}
div#about_me , #my_skills{
    color: aliceblue;
    padding: 10px;
    background-color: rgb(8, 82, 8);
    text-align: center;
    margin-top: 10px;
}
img{
    height: 450px;
    width: 850px;
    border-radius: 85px;
    margin-left: 45px ;
    margin-right: 30px ;
    margin-top: 50px;
}

div:hover{
    border-radius: 100px;
}
h2,h3:hover{
        background-color: darkslategray;
}
#my_name_header{
    position:relative;
    animation-name: free-learn;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    font-style: oblique;
    font-size: 90px;
    padding: 1px;
    margin: 5px;
   }
   
   @keyframes free-learn{
    from {left:0;}
    to   {left:600px;}
   }

body{
    background-color: #000000;
    padding: 0px;
    margin: 0px;
}

#gradient
{
 width: 100%;
 height: 800px;
 padding: 0px;
 margin: 0px;
}
#contact_h{
    position:relative;
    animation-name: free-learn;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    font-style: oblique;
    font-size: 90px;
    padding: 1px;
    margin: 5px;
}

footer{
    height: 200px;
}